/* http://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height */
html{ 
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #eeeeee;
  position: relative;
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

section {
  background-color: #ffffff;
  display: block;
  position:absolute;
  height:auto;
  bottom:0; top:0; left:0; right:0;
  margin:1em;
  padding:1em;
  border-radius: 15px;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.title-slide {
  font-size: 3em;
  text-align: center;
}

